*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Bold"), local("CircularStd-Bold"), url("../assets/fonts/CircularStd-Bold.woff2") format("woff2"), url("../assets/fonts/CircularStd-Bold.woff") format("woff"), url("../assets/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
}

body {
  color: #000000;
  font-family: "Circular Std", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  margin-top: 40px;
}
header .row {
  justify-content: space-around;
}
header .header--logo-form {
  display: flex;
  gap: 140px;
}
header .header--logo-form form {
  display: flex;
}
header .header--logo-form form button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}
header .header--logo-form form button img {
  height: 20px;
  width: 20px;
}
header .header--logo-form form input {
  border: transparent;
  background: transparent;
  font-size: 17px;
  line-height: 22px;
  padding: 0 10px;
}
header .header-mob-menu-btn-input,
header .header-mob-menu-btn-label {
  display: none;
}
header ul {
  display: flex;
  gap: 42px;
}
header ul li a {
  text-decoration: none;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
header ul li .active {
  text-decoration: underline;
}
header ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  header .header--logo-form {
    gap: 40px;
  }
  header ul {
    gap: 25px;
  }
}
@media (max-width: 897px) {
  header header {
    position: relative;
  }
  header form {
    width: 55%;
  }
  header form input {
    width: 100%;
  }
  header .header-mob-menu-btn-label {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 20px;
    background-color: #fff4ba;
    border-radius: 15px;
  }
  header nav {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li a {
    display: block;
    text-align: center;
  }
  header nav ul li a img {
    margin: 0 auto;
  }
  header .header-mob-menu-btn-input:checked + nav {
    display: initial;
  }
}
@media (max-width: 530px) {
  header .header--logo-form form {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
