@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
  url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('/assets/fonts/CircularStd-Bold.woff') format('woff'),
  url('/assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}